@charset "UTF-8";

@font-face {
  font-family: Helvetica CE Bold;
  font-display: swap;
  src: url("../fonts/Helvetica CE Bold.woff2") format("woff2"), url("../fonts/Helvetica CE Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Helvetica CE Regular;
  font-display: swap;
  src: url("../fonts/Helvetica CE Regular.woff2") format("woff2"), url("../fonts/Helvetica CE Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: myriadpro;
  font-display: swap;
  src: url("../fonts/myriadpro-semibold.woff2") format("woff2"), url("../fonts/myriadpro-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "myriadpro";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "myriadpro";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #006DAC;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 149.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block-name__curriculum {
  display: none;
}

.block-name__curriculum h2 {
  line-height: 1;
  color: #006dac;
  font-weight: bold;
  font-family: "Helvetica CE Bold";
  text-align: center;
  text-shadow: -4px -4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff, 4px 4px 0 #fff;
}

.block-name__name {
  background: #008CDD;
  padding: 95px 0px 95px 0px;
  display: none;
}

.block-name__name h1 {
  line-height: 1;
  color: #ffffff;
  font-family: "Helvetica CE Bold";
  text-align: center;
  text-transform: capitalize;
  padding: 0px 25px 0px 25px;
  text-shadow: -4px -4px 0 #003195, 4px -4px 0 #003195, -4px 4px 0 #003195, 4px 4px 0 #003195, -2px -2px 4px #003195, 2px -2px 4px #003195, -2px 2px 4px #003195, 2px 2px 4px #003195, -1px -1px 6px #003195, 1px -1px 6px #003195, -1px 1px 6px #003195, 1px 1px 6px #003195, -1px -1px 8px #003195, 1px -1px 8px #003195, -1px 1px 8px #003195, 1px 1px 8px #003195, -1px -1px 2px rgb(0, 0, 0), 1px -1px 2px rgb(0, 0, 0), -1px 1px 2px rgb(0, 0, 0), 1px 1px 2px rgb(0, 0, 0);
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.booklet__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.column-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

.column-left__picture {
  width: 87%;
  margin: 60px auto 20px;
}

.column-left__pic {
  position: relative;
  padding-bottom: 100%;
}

.column-left__pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.column-left__about {
  text-align: center;
  margin-bottom: 47px;
}

.column-left__about P {
  color: #fff;
  line-height: 1.19;
  /* 55/46 */
}

.column-left__about P:not(:last-child) {
  margin: 0px 0px 0px 0px;
}

.column-left__lingue {
  line-height: 1;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  background: #33A1E7;
  margin-bottom: 41px;
}

.column-left__list li {
  font-size: 44px;
  line-height: 1.25;
  /* 55/44 */
  color: #ffffff;
  position: relative;
  padding-left: 50px;
}

.column-left__list li::before {
  content: "";
  background: url("../img/check-mark-01.svg") 0 0 no-repeat;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 20px;
  height: 20px;
}

.phone-column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  background: #40B2D7;
  padding: 17px 17px 17px 17px;
  margin-bottom: 25px;
}

.phone-column-left__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14%;
          flex: 0 1 14%;
}

.phone-column-left__icon img {
  width: 100%;
}

.phone-column-left__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}

.phone-column-left__phone {
  line-height: 1;
  color: #003d60;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.phone-column-left__name {
  line-height: 1;
  color: #003d60;
  font-weight: bold;
}

.phone-column-left__text {
  line-height: 1;
  color: #003d60;
  font-weight: bold;
}

.viber-column-left {
  background: #40B2D7;
  padding: 20px 17px 20px 17px;
  margin-bottom: 25px;
}

.viber-column-left__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.viber-column-left__item:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.viber-column-left__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 74px;
          flex: 0 1 74px;
  padding-left: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.viber-column-left__icon img {
  width: 100%;
  border-radius: 15%;
}

.viber-column-left__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 81%;
          flex: 0 1 81%;
}

.viber-column-left__text p {
  line-height: 1;
  color: #003d60;
  font-weight: bold;
  text-align: left;
}

.viber-column-left__link {
  line-height: 1;
  color: #003d60;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: left;
}

.mail-column-left {
  background: #40B2D7;
  padding: 10px 17px 10px 17px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.mail-column-left__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14%;
          flex: 0 1 14%;
}

.mail-column-left__icon img {
  width: 100%;
}

.mail-column-left__mail {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 81%;
          flex: 0 1 81%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.1;
  color: #003d60;
  font-weight: bold;
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.insta-column-left {
  background: #40B2D7;
  padding: 10px 17px 10px 17px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.insta-column-left__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14%;
          flex: 0 1 14%;
}

.insta-column-left__icon img {
  width: 100%;
}

.insta-column-left__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 81%;
          flex: 0 1 81%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 1.1;
  color: #003d60;
  font-weight: bold;
  text-align: left;
}

.youtube-column-left {
  background: #40B2D7;
  padding: 5px 17px 5px 17px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.youtube-column-left__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14%;
          flex: 0 1 14%;
  -webkit-transform: translate(-3px, 0);
      -ms-transform: translate(-3px, 0);
          transform: translate(-3px, 0);
}

.youtube-column-left__icon img {
  width: 115%;
}

.youtube-column-left__link {
  line-height: 1.1;
  color: #003d60;
  font-weight: bold;
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 81%;
          flex: 0 1 81%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.booklet-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 64%;
          flex: 0 1 64%;
  background: #84CFFF;
  -webkit-box-shadow: inset 8px 0px 3px rgba(76, 125, 167, 0.8);
          box-shadow: inset 8px 0px 3px rgba(76, 125, 167, 0.8);
}

.booklet-right__curriculum h2 {
  line-height: 1;
  color: #006dac;
  font-weight: bold;
  font-family: "Helvetica CE Bold";
  text-align: center;
  text-shadow: -4px -4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff, 4px 4px 0 #fff;
}

.booklet-right__name {
  background: #008CDD;
  padding: 95px 0px 95px 0px;
  -webkit-box-shadow: inset 8px 0px 3px rgba(76, 125, 167, 0.8);
          box-shadow: inset 8px 0px 3px rgba(76, 125, 167, 0.8);
}

.booklet-right__name h1 {
  line-height: 1;
  color: #ffffff;
  font-family: "Helvetica CE Bold";
  text-align: center;
  text-transform: capitalize;
  padding: 0px 25px 0px 25px;
  text-shadow: -4px -4px 0 #003195, 4px -4px 0 #003195, -4px 4px 0 #003195, 4px 4px 0 #003195, -2px -2px 4px #003195, 2px -2px 4px #003195, -2px 2px 4px #003195, 2px 2px 4px #003195, -1px -1px 6px #003195, 1px -1px 6px #003195, -1px 1px 6px #003195, 1px 1px 6px #003195, -1px -1px 8px #003195, 1px -1px 8px #003195, -1px 1px 8px #003195, 1px 1px 8px #003195, -1px -1px 2px rgb(0, 0, 0), 1px -1px 2px rgb(0, 0, 0), -1px 1px 2px rgb(0, 0, 0), 1px 1px 2px rgb(0, 0, 0);
}

.booklet-right__job {
  margin-top: 33px;
  text-align: center;
  margin-bottom: 50px;
}

.booklet-right__expert {
  background: #008EBC;
  -webkit-box-shadow: 0px 6px 0px #003859;
          box-shadow: 0px 6px 0px #003859;
}

.booklet-right__expert P {
  font-size: 35px;
  line-height: 1.63;
  color: #ffffff;
  font-weight: bold;
  font-family: myriadpro;
  font-weight: 600;
}

.job-booklet-right__title {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 25px;
  padding: 0px 15px 0px 15px;
}

.job-booklet-right__text {
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: Helvetica CE Regular;
  padding: 0px 15px 0px 15px;
}

.job-booklet-right__text-text {
  line-height: 1;
  margin-bottom: 17px;
  padding: 0px 15px 0px 15px;
}

.job-booklet-right__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.job-booklet-right__link {
  line-height: 1;
  font-style: italic;
  letter-spacing: 3px;
  font-family: Helvetica CE Regular;
  padding: 0px 15px 0px 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.job-booklet-right__link:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.services-booklet-right {
  background: #008CDD;
  padding: 50px 0px 60px 47px;
  -webkit-box-shadow: inset 8px 0px 3px rgba(76, 125, 167, 0.8);
          box-shadow: inset 8px 0px 3px rgba(76, 125, 167, 0.8);
}

.services-booklet-right__text-top {
  font-family: Helvetica CE Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.21;
  /* 17/14 */
}

.services-booklet-right__text {
  line-height: 1.54;
  /* 17/14 */
  font-family: Helvetica CE Regular;
  font-weight: 400;
  color: #ffffff;
}

.services-booklet-right__link {
  font-weight: 700;
  font-style: italic;
  letter-spacing: 3px;
  line-height: 1.25;
  padding: 0px 15px 0px 0px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services-booklet-right__text-bottom {
  line-height: 1.54;
  /* 17/14 */
  font-family: Helvetica CE Regular;
  font-weight: 400;
  color: #ffffff;
}

.block__body {
  padding-bottom: 150px;
  position: relative;
}

.block-left {
  background: #43BBFF;
  max-width: 665px;
  position: absolute;
  left: -20px;
  -webkit-box-shadow: 0 4px 4px #001929;
          box-shadow: 0 4px 4px #001929;
  padding-right: 15px;
  padding-left: 15px;
}

.block-left p {
  line-height: 1.1;
  /* 62/56 */
  color: #ffffff;
  font-weight: bold;
  font-family: Helvetica CE Bold;
}

.block-right {
  background: #43BBFF;
  padding-right: 15px;
  padding-left: 15px;
  width: 370px;
  position: absolute;
  right: -14px;
  -webkit-box-shadow: -4px 4px 4px #001929;
          box-shadow: -4px 4px 4px #001929;
}

.block-right p {
  line-height: 1.1;
  /* 62/56 */
  color: #ffffff;
  font-weight: bold;
  font-family: Helvetica CE Bold;
  text-align: right;
}

.block__body-2 {
  position: relative;
}

.block-left-2 {
  background: #43BBFF;
  max-width: 665px;
  position: absolute;
  top: -88px;
  left: -15px;
  display: none;
  padding: 5px;
}

.block-left-2 p {
  line-height: 1.1;
  /* 62/56 */
  color: #ffffff;
  font-weight: bold;
  font-family: Helvetica CE Bold;
}

.block-right-2 {
  background: #43BBFF;
  position: absolute;
  top: -36px;
  right: 0px;
  display: none;
  padding: 5px;
}

.block-right-2 p {
  line-height: 1.1;
  /* 62/56 */
  color: #ffffff;
  font-weight: bold;
  font-family: Helvetica CE Bold;
  text-align: right;
}

@media (min-width: 147.5em) {
  .block-left {
    top: -40.625rem;
  }
}

@media (min-width: 149.375em) {
  .block-name__curriculum {
    padding-top: 6.875rem;
  }

  .block-name__curriculum {
    padding-bottom: 3.75rem;
  }

  .block-name__curriculum h2 {
    font-size: 7.75rem;
  }

  .block-name__name {
    padding-top: 5.9375rem;
  }

  .block-name__name {
    padding-bottom: 5.9375rem;
  }

  .block-name__name h1 {
    font-size: 9.375rem;
  }

  .booklet__body {
    padding-bottom: 5.5rem;
  }

  .column-left__about P {
    font-size: 2.875rem;
  }

  .column-left__lingue {
    font-size: 3.625rem;
  }

  .column-left__lingue {
    padding-top: 1.875rem;
  }

  .column-left__lingue {
    padding-bottom: 1.875rem;
  }

  .column-left__lingue {
    padding-left: 1.875rem;
  }

  .column-left__lingue {
    padding-right: 1.875rem;
  }

  .column-left__list li {
    font-size: 2.75rem;
  }

  .phone-column-left__phone {
    font-size: 3.25rem;
  }

  .phone-column-left__name {
    font-size: 3.25rem;
  }

  .phone-column-left__text {
    font-size: 3.25rem;
  }

  .viber-column-left__item {
    gap: 2.8125rem;
  }

  .viber-column-left__text p {
    font-size: 3.25rem;
  }

  .viber-column-left__link {
    font-size: 3.25rem;
  }

  .mail-column-left__mail {
    font-size: 3.125rem;
  }

  .insta-column-left__link {
    font-size: 3.125rem;
  }

  .youtube-column-left__link {
    font-size: 3.125rem;
  }

  .booklet-right__curriculum {
    padding-top: 6.875rem;
  }

  .booklet-right__curriculum {
    padding-bottom: 3.75rem;
  }

  .booklet-right__curriculum h2 {
    font-size: 7.75rem;
  }

  .booklet-right__name {
    padding-top: 5.9375rem;
  }

  .booklet-right__name {
    padding-bottom: 5.9375rem;
  }

  .booklet-right__name h1 {
    font-size: 9.375rem;
  }

  .booklet-right__expert {
    padding-top: 9.8125rem;
  }

  .booklet-right__expert {
    padding-bottom: 11.9375rem;
  }

  .booklet-right__expert {
    padding-left: 2.9375rem;
  }

  .booklet-right__expert {
    padding-right: 2.9375rem;
  }

  .booklet-right__expert {
    border-radius: 6.25rem;
  }

  .booklet-right__expert {
    margin-left: 3.4375rem;
  }

  .booklet-right__expert {
    margin-right: 2.1875rem;
  }

  .booklet-right__expert {
    margin-bottom: 45.3125rem;
  }

  .booklet-right__expert P {
    font-size: 2.1875rem;
  }

  .job-booklet-right__title {
    font-size: 2.6875rem;
  }

  .job-booklet-right__text {
    font-size: 2.6875rem;
  }

  .job-booklet-right__text-text {
    font-size: 2.5rem;
  }

  .job-booklet-right__link {
    font-size: 2.3125rem;
  }

  .services-booklet-right {
    margin-bottom: 5rem;
  }

  .services-booklet-right__text-top {
    font-size: 2.5rem;
  }

  .services-booklet-right__text-top {
    margin-bottom: 3.75rem;
  }

  .services-booklet-right__text {
    font-size: 2.1875rem;
  }

  .services-booklet-right__link {
    font-size: 2.1875rem;
  }

  .services-booklet-right__text-bottom {
    font-size: 2.1875rem;
  }

  .block-left {
    padding-top: 2.6875rem;
  }

  .block-left {
    padding-bottom: 1.25rem;
  }

  .block-left p {
    font-size: 1.875rem;
  }

  .block-right {
    padding-top: 2.6875rem;
  }

  .block-right {
    padding-bottom: 1.25rem;
  }

  .block-right {
    top: -10.25rem;
  }

  .block-right p {
    font-size: 2.8125rem;
  }

  .block-left-2 p {
    font-size: 1.875rem;
  }

  .block-right-2 p {
    font-size: 2.8125rem;
  }
}

@media (max-width: 1300px) {
  .services-booklet-right {
    padding: 50px 0px 60px 20px;
  }
}

@media (max-width: 1200px) {
  .block-right {
    width: 270px;
  }
}

@media (max-width: 991.98px) {
  .block-name__curriculum {
    display: block;
  }

  .block-name__name {
    display: block;
  }

  .block-name__name h1 {
    padding: 0px 10px 0px 10px;
  }

  .booklet__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .column-left__picture {
    margin: 30px auto 20px;
  }

  .column-left__lingue {
    text-align: center;
  }

  .booklet-right {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .booklet-right__curriculum {
    display: none;
  }

  .booklet-right__name {
    display: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .booklet-right__name h1 {
    padding: 0px 10px 0px 10px;
  }

  .services-booklet-right {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .block__body {
    padding-bottom: 80px;
  }

  .block-left {
    display: none;
  }

  .block-right {
    display: none;
  }

  .block-left-2 {
    display: block;
  }

  .block-right-2 {
    display: block;
  }
}

@media (max-width: 800px) {
  .block-name__curriculum h2 {
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
  }

  .booklet-right__curriculum h2 {
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
  }
}

@media (max-width: 650px) {
  .services-booklet-right {
    padding: 30px 0px 30px 10px;
  }

  .services-booklet-right__link {
    letter-spacing: 0px;
  }
}

@media (max-width: 628px) {
  .viber-column-left {
    padding: 10px 0px 10px 0px;
  }
}

@media (max-width: 20em) {
  .block-name__curriculum {
    padding-top: 1.25rem;
  }

  .block-name__curriculum {
    padding-bottom: 1.25rem;
  }

  .block-name__curriculum h2 {
    font-size: 2.1875rem;
  }

  .block-name__name {
    padding-top: 1.25rem;
  }

  .block-name__name {
    padding-bottom: 1.25rem;
  }

  .block-name__name h1 {
    font-size: 2.8125rem;
  }

  .booklet__body {
    padding-bottom: 2.5rem;
  }

  .column-left__about P {
    font-size: 1.5625rem;
  }

  .column-left__lingue {
    font-size: 1.5625rem;
  }

  .column-left__lingue {
    padding-top: 0.625rem;
  }

  .column-left__lingue {
    padding-bottom: 0.625rem;
  }

  .column-left__lingue {
    padding-left: 0.625rem;
  }

  .column-left__lingue {
    padding-right: 0.625rem;
  }

  .column-left__list li {
    font-size: 1.125rem;
  }

  .phone-column-left__phone {
    font-size: 1.5625rem;
  }

  .phone-column-left__name {
    font-size: 1.5625rem;
  }

  .phone-column-left__text {
    font-size: 1.5625rem;
  }

  .viber-column-left__item {
    gap: 0.625rem;
  }

  .viber-column-left__text p {
    font-size: 1.5625rem;
  }

  .viber-column-left__link {
    font-size: 1.5625rem;
  }

  .mail-column-left__mail {
    font-size: 1.125rem;
  }

  .insta-column-left__link {
    font-size: 1.125rem;
  }

  .youtube-column-left__link {
    font-size: 1.125rem;
  }

  .booklet-right__curriculum {
    padding-top: 1.25rem;
  }

  .booklet-right__curriculum {
    padding-bottom: 1.25rem;
  }

  .booklet-right__curriculum h2 {
    font-size: 2.1875rem;
  }

  .booklet-right__name {
    padding-top: 1.25rem;
  }

  .booklet-right__name {
    padding-bottom: 1.25rem;
  }

  .booklet-right__name h1 {
    font-size: 2.8125rem;
  }

  .booklet-right__expert {
    padding-top: 2.5rem;
  }

  .booklet-right__expert {
    padding-bottom: 2.5rem;
  }

  .booklet-right__expert {
    padding-left: 1.25rem;
  }

  .booklet-right__expert {
    padding-right: 1.25rem;
  }

  .booklet-right__expert {
    border-radius: 1.5625rem;
  }

  .booklet-right__expert {
    margin-left: 0.625rem;
  }

  .booklet-right__expert {
    margin-right: 0.625rem;
  }

  .booklet-right__expert {
    margin-bottom: 5rem;
  }

  .booklet-right__expert P {
    font-size: 1.125rem;
  }

  .job-booklet-right__title {
    font-size: 1.125rem;
  }

  .job-booklet-right__text {
    font-size: 1.125rem;
  }

  .job-booklet-right__text-text {
    font-size: 1.125rem;
  }

  .job-booklet-right__link {
    font-size: 1.125rem;
  }

  .services-booklet-right {
    margin-bottom: 1.875rem;
  }

  .services-booklet-right__text-top {
    font-size: 1rem;
  }

  .services-booklet-right__text-top {
    margin-bottom: 1.5625rem;
  }

  .services-booklet-right__text {
    font-size: 1rem;
  }

  .services-booklet-right__link {
    font-size: 1.125rem;
  }

  .services-booklet-right__text-bottom {
    font-size: 1.125rem;
  }

  .block-left {
    padding-top: 0.625rem;
  }

  .block-left {
    padding-bottom: 0.625rem;
  }

  .block-left p {
    font-size: 0.875rem;
  }

  .block-right {
    padding-top: 0.625rem;
  }

  .block-right {
    padding-bottom: 0.625rem;
  }

  .block-right {
    top: 4.6875rem;
  }

  .block-right p {
    font-size: 0.875rem;
  }

  .block-left-2 p {
    font-size: 0.875rem;
  }

  .block-right-2 p {
    font-size: 0.875rem;
  }
}

@media (max-width: 61.99875em) {
  .block-left {
    top: 3.125rem;
  }
}

@media (min-width: 20em) and (max-width: 149.375em) {
@supports (padding-top: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 6.875rem )) {
    .block-name__curriculum {
      padding-top: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 6.875rem )) {
    .block-name__curriculum {
      padding-top: calc(1.25rem + 5.625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.86352657rem  +  1.9323671498vw , 3.75rem )) {
    .block-name__curriculum {
      padding-bottom: clamp( 1.25rem , 0.86352657rem  +  1.9323671498vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.86352657rem  +  1.9323671498vw , 3.75rem )) {
    .block-name__curriculum {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.3275966184rem  +  4.2995169082vw , 7.75rem )) {
    .block-name__curriculum h2 {
      font-size: clamp( 2.1875rem , 1.3275966184rem  +  4.2995169082vw , 7.75rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.3275966184rem  +  4.2995169082vw , 7.75rem )) {
    .block-name__curriculum h2 {
      font-size: calc(2.1875rem + 5.5625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem )) {
    .block-name__name {
      padding-top: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem )) {
    .block-name__name {
      padding-top: calc(1.25rem + 4.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem )) {
    .block-name__name {
      padding-bottom: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem )) {
    .block-name__name {
      padding-bottom: calc(1.25rem + 4.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 2.8125rem , 1.7980072464rem  +  5.0724637681vw , 9.375rem )) {
    .block-name__name h1 {
      font-size: clamp( 2.8125rem , 1.7980072464rem  +  5.0724637681vw , 9.375rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 1.7980072464rem  +  5.0724637681vw , 9.375rem )) {
    .block-name__name h1 {
      font-size: calc(2.8125rem + 6.5625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.0362318841rem  +  2.3188405797vw , 5.5rem )) {
    .booklet__body {
      padding-bottom: clamp( 2.5rem , 2.0362318841rem  +  2.3188405797vw , 5.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.0362318841rem  +  2.3188405797vw , 5.5rem )) {
    .booklet__body {
      padding-bottom: calc(2.5rem + 3 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3596014493rem  +  1.0144927536vw , 2.875rem )) {
    .column-left__about P {
      font-size: clamp( 1.5625rem , 1.3596014493rem  +  1.0144927536vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3596014493rem  +  1.0144927536vw , 2.875rem )) {
    .column-left__about P {
      font-size: calc(1.5625rem + 1.3125 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.2436594203rem  +  1.5942028986vw , 3.625rem )) {
    .column-left__lingue {
      font-size: clamp( 1.5625rem , 1.2436594203rem  +  1.5942028986vw , 3.625rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.2436594203rem  +  1.5942028986vw , 3.625rem )) {
    .column-left__lingue {
      font-size: calc(1.5625rem + 2.0625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem )) {
    .column-left__lingue {
      padding-top: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem )) {
    .column-left__lingue {
      padding-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem )) {
    .column-left__lingue {
      padding-bottom: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem )) {
    .column-left__lingue {
      padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem )) {
    .column-left__lingue {
      padding-left: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem )) {
    .column-left__lingue {
      padding-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem )) {
    .column-left__lingue {
      padding-right: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.431763285rem  +  0.9661835749vw , 1.875rem )) {
    .column-left__lingue {
      padding-right: calc(0.625rem + 1.25 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8737922705rem  +  1.2560386473vw , 2.75rem )) {
    .column-left__list li {
      font-size: clamp( 1.125rem , 0.8737922705rem  +  1.2560386473vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8737922705rem  +  1.2560386473vw , 2.75rem )) {
    .column-left__list li {
      font-size: calc(1.125rem + 1.625 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .phone-column-left__phone {
      font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .phone-column-left__phone {
      font-size: calc(1.5625rem + 1.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .phone-column-left__name {
      font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .phone-column-left__name {
      font-size: calc(1.5625rem + 1.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .phone-column-left__text {
      font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .phone-column-left__text {
      font-size: calc(1.5625rem + 1.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (gap: clamp( 0.625rem , 0.2868357488rem  +  1.690821256vw , 2.8125rem )) {
    .viber-column-left__item {
      gap: clamp( 0.625rem , 0.2868357488rem  +  1.690821256vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.2868357488rem  +  1.690821256vw , 2.8125rem )) {
    .viber-column-left__item {
      gap: calc(0.625rem + 2.1875 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .viber-column-left__text p {
      font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .viber-column-left__text p {
      font-size: calc(1.5625rem + 1.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .viber-column-left__link {
      font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 3.25rem )) {
    .viber-column-left__link {
      font-size: calc(1.5625rem + 1.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.815821256rem  +  1.5458937198vw , 3.125rem )) {
    .mail-column-left__mail {
      font-size: clamp( 1.125rem , 0.815821256rem  +  1.5458937198vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.815821256rem  +  1.5458937198vw , 3.125rem )) {
    .mail-column-left__mail {
      font-size: calc(1.125rem + 2 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.815821256rem  +  1.5458937198vw , 3.125rem )) {
    .insta-column-left__link {
      font-size: clamp( 1.125rem , 0.815821256rem  +  1.5458937198vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.815821256rem  +  1.5458937198vw , 3.125rem )) {
    .insta-column-left__link {
      font-size: calc(1.125rem + 2 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.815821256rem  +  1.5458937198vw , 3.125rem )) {
    .youtube-column-left__link {
      font-size: clamp( 1.125rem , 0.815821256rem  +  1.5458937198vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.815821256rem  +  1.5458937198vw , 3.125rem )) {
    .youtube-column-left__link {
      font-size: calc(1.125rem + 2 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 6.875rem )) {
    .booklet-right__curriculum {
      padding-top: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 6.875rem )) {
    .booklet-right__curriculum {
      padding-top: calc(1.25rem + 5.625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.86352657rem  +  1.9323671498vw , 3.75rem )) {
    .booklet-right__curriculum {
      padding-bottom: clamp( 1.25rem , 0.86352657rem  +  1.9323671498vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.86352657rem  +  1.9323671498vw , 3.75rem )) {
    .booklet-right__curriculum {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.3275966184rem  +  4.2995169082vw , 7.75rem )) {
    .booklet-right__curriculum h2 {
      font-size: clamp( 2.1875rem , 1.3275966184rem  +  4.2995169082vw , 7.75rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.3275966184rem  +  4.2995169082vw , 7.75rem )) {
    .booklet-right__curriculum h2 {
      font-size: calc(2.1875rem + 5.5625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem )) {
    .booklet-right__name {
      padding-top: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem )) {
    .booklet-right__name {
      padding-top: calc(1.25rem + 4.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem )) {
    .booklet-right__name {
      padding-bottom: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5253623188rem  +  3.6231884058vw , 5.9375rem )) {
    .booklet-right__name {
      padding-bottom: calc(1.25rem + 4.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 2.8125rem , 1.7980072464rem  +  5.0724637681vw , 9.375rem )) {
    .booklet-right__name h1 {
      font-size: clamp( 2.8125rem , 1.7980072464rem  +  5.0724637681vw , 9.375rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 1.7980072464rem  +  5.0724637681vw , 9.375rem )) {
    .booklet-right__name h1 {
      font-size: calc(2.8125rem + 6.5625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.3695652174rem  +  5.652173913vw , 9.8125rem )) {
    .booklet-right__expert {
      padding-top: clamp( 2.5rem , 1.3695652174rem  +  5.652173913vw , 9.8125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.3695652174rem  +  5.652173913vw , 9.8125rem )) {
    .booklet-right__expert {
      padding-top: calc(2.5rem + 7.3125 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0410628019rem  +  7.2946859903vw , 11.9375rem )) {
    .booklet-right__expert {
      padding-bottom: clamp( 2.5rem , 1.0410628019rem  +  7.2946859903vw , 11.9375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0410628019rem  +  7.2946859903vw , 11.9375rem )) {
    .booklet-right__expert {
      padding-bottom: calc(2.5rem + 9.4375 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.9891304348rem  +  1.3043478261vw , 2.9375rem )) {
    .booklet-right__expert {
      padding-left: clamp( 1.25rem , 0.9891304348rem  +  1.3043478261vw , 2.9375rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.9891304348rem  +  1.3043478261vw , 2.9375rem )) {
    .booklet-right__expert {
      padding-left: calc(1.25rem + 1.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.9891304348rem  +  1.3043478261vw , 2.9375rem )) {
    .booklet-right__expert {
      padding-right: clamp( 1.25rem , 0.9891304348rem  +  1.3043478261vw , 2.9375rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.9891304348rem  +  1.3043478261vw , 2.9375rem )) {
    .booklet-right__expert {
      padding-right: calc(1.25rem + 1.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (border-radius: clamp( 1.5625rem , 0.8378623188rem  +  3.6231884058vw , 6.25rem )) {
    .booklet-right__expert {
      border-radius: clamp( 1.5625rem , 0.8378623188rem  +  3.6231884058vw , 6.25rem );
    }
}

@supports not (border-radius: clamp( 1.5625rem , 0.8378623188rem  +  3.6231884058vw , 6.25rem )) {
    .booklet-right__expert {
      border-radius: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 129.375);
    }
}

@supports (margin-left: clamp( 0.625rem , 0.1902173913rem  +  2.1739130435vw , 3.4375rem )) {
    .booklet-right__expert {
      margin-left: clamp( 0.625rem , 0.1902173913rem  +  2.1739130435vw , 3.4375rem );
    }
}

@supports not (margin-left: clamp( 0.625rem , 0.1902173913rem  +  2.1739130435vw , 3.4375rem )) {
    .booklet-right__expert {
      margin-left: calc(0.625rem + 2.8125 * (100vw - 20rem) / 129.375);
    }
}

@supports (margin-right: clamp( 0.625rem , 0.3834541063rem  +  1.2077294686vw , 2.1875rem )) {
    .booklet-right__expert {
      margin-right: clamp( 0.625rem , 0.3834541063rem  +  1.2077294686vw , 2.1875rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , 0.3834541063rem  +  1.2077294686vw , 2.1875rem )) {
    .booklet-right__expert {
      margin-right: calc(0.625rem + 1.5625 * (100vw - 20rem) / 129.375);
    }
}

@supports (margin-bottom: clamp( 5rem , -1.231884058rem  +  31.1594202899vw , 45.3125rem )) {
    .booklet-right__expert {
      margin-bottom: clamp( 5rem , -1.231884058rem  +  31.1594202899vw , 45.3125rem );
    }
}

@supports not (margin-bottom: clamp( 5rem , -1.231884058rem  +  31.1594202899vw , 45.3125rem )) {
    .booklet-right__expert {
      margin-bottom: calc(5rem + 40.3125 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9607487923rem  +  0.8212560386vw , 2.1875rem )) {
    .booklet-right__expert P {
      font-size: clamp( 1.125rem , 0.9607487923rem  +  0.8212560386vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9607487923rem  +  0.8212560386vw , 2.1875rem )) {
    .booklet-right__expert P {
      font-size: calc(1.125rem + 1.0625 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8834541063rem  +  1.2077294686vw , 2.6875rem )) {
    .job-booklet-right__title {
      font-size: clamp( 1.125rem , 0.8834541063rem  +  1.2077294686vw , 2.6875rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8834541063rem  +  1.2077294686vw , 2.6875rem )) {
    .job-booklet-right__title {
      font-size: calc(1.125rem + 1.5625 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8834541063rem  +  1.2077294686vw , 2.6875rem )) {
    .job-booklet-right__text {
      font-size: clamp( 1.125rem , 0.8834541063rem  +  1.2077294686vw , 2.6875rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8834541063rem  +  1.2077294686vw , 2.6875rem )) {
    .job-booklet-right__text {
      font-size: calc(1.125rem + 1.5625 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9124396135rem  +  1.0628019324vw , 2.5rem )) {
    .job-booklet-right__text-text {
      font-size: clamp( 1.125rem , 0.9124396135rem  +  1.0628019324vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9124396135rem  +  1.0628019324vw , 2.5rem )) {
    .job-booklet-right__text-text {
      font-size: calc(1.125rem + 1.375 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9414251208rem  +  0.9178743961vw , 2.3125rem )) {
    .job-booklet-right__link {
      font-size: clamp( 1.125rem , 0.9414251208rem  +  0.9178743961vw , 2.3125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9414251208rem  +  0.9178743961vw , 2.3125rem )) {
    .job-booklet-right__link {
      font-size: calc(1.125rem + 1.1875 * (100vw - 20rem) / 129.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.3919082126rem  +  2.4154589372vw , 5rem )) {
    .services-booklet-right {
      margin-bottom: clamp( 1.875rem , 1.3919082126rem  +  2.4154589372vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3919082126rem  +  2.4154589372vw , 5rem )) {
    .services-booklet-right {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1rem , 0.768115942rem  +  1.1594202899vw , 2.5rem )) {
    .services-booklet-right__text-top {
      font-size: clamp( 1rem , 0.768115942rem  +  1.1594202899vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.768115942rem  +  1.1594202899vw , 2.5rem )) {
    .services-booklet-right__text-top {
      font-size: calc(1rem + 1.5 * (100vw - 20rem) / 129.375);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.2243357488rem  +  1.690821256vw , 3.75rem )) {
    .services-booklet-right__text-top {
      margin-bottom: clamp( 1.5625rem , 1.2243357488rem  +  1.690821256vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.2243357488rem  +  1.690821256vw , 3.75rem )) {
    .services-booklet-right__text-top {
      margin-bottom: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1rem , 0.8164251208rem  +  0.9178743961vw , 2.1875rem )) {
    .services-booklet-right__text {
      font-size: clamp( 1rem , 0.8164251208rem  +  0.9178743961vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8164251208rem  +  0.9178743961vw , 2.1875rem )) {
    .services-booklet-right__text {
      font-size: calc(1rem + 1.1875 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9607487923rem  +  0.8212560386vw , 2.1875rem )) {
    .services-booklet-right__link {
      font-size: clamp( 1.125rem , 0.9607487923rem  +  0.8212560386vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9607487923rem  +  0.8212560386vw , 2.1875rem )) {
    .services-booklet-right__link {
      font-size: calc(1.125rem + 1.0625 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9607487923rem  +  0.8212560386vw , 2.1875rem )) {
    .services-booklet-right__text-bottom {
      font-size: clamp( 1.125rem , 0.9607487923rem  +  0.8212560386vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9607487923rem  +  0.8212560386vw , 2.1875rem )) {
    .services-booklet-right__text-bottom {
      font-size: calc(1.125rem + 1.0625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3061594203rem  +  1.5942028986vw , 2.6875rem )) {
    .block-left {
      padding-top: clamp( 0.625rem , 0.3061594203rem  +  1.5942028986vw , 2.6875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3061594203rem  +  1.5942028986vw , 2.6875rem )) {
    .block-left {
      padding-top: calc(0.625rem + 2.0625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5283816425rem  +  0.4830917874vw , 1.25rem )) {
    .block-left {
      padding-bottom: clamp( 0.625rem , 0.5283816425rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5283816425rem  +  0.4830917874vw , 1.25rem )) {
    .block-left {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 0.875rem , 0.720410628rem  +  0.7729468599vw , 1.875rem )) {
    .block-left p {
      font-size: clamp( 0.875rem , 0.720410628rem  +  0.7729468599vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.720410628rem  +  0.7729468599vw , 1.875rem )) {
    .block-left p {
      font-size: calc(0.875rem + 1 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3061594203rem  +  1.5942028986vw , 2.6875rem )) {
    .block-right {
      padding-top: clamp( 0.625rem , 0.3061594203rem  +  1.5942028986vw , 2.6875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3061594203rem  +  1.5942028986vw , 2.6875rem )) {
    .block-right {
      padding-top: calc(0.625rem + 2.0625 * (100vw - 20rem) / 129.375);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5283816425rem  +  0.4830917874vw , 1.25rem )) {
    .block-right {
      padding-bottom: clamp( 0.625rem , 0.5283816425rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5283816425rem  +  0.4830917874vw , 1.25rem )) {
    .block-right {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 129.375);
    }
}

@supports (top: clamp( -10.25rem , 6.996678744rem  +  -11.5458937198vw , 4.6875rem )) {
    .block-right {
      top: clamp( -10.25rem , 6.996678744rem  +  -11.5458937198vw , 4.6875rem );
    }
}

@supports not (top: clamp( -10.25rem , 6.996678744rem  +  -11.5458937198vw , 4.6875rem )) {
    .block-right {
      top: calc(4.6875rem + -14.9375 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 0.875rem , 0.5754830918rem  +  1.4975845411vw , 2.8125rem )) {
    .block-right p {
      font-size: clamp( 0.875rem , 0.5754830918rem  +  1.4975845411vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.5754830918rem  +  1.4975845411vw , 2.8125rem )) {
    .block-right p {
      font-size: calc(0.875rem + 1.9375 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 0.875rem , 0.720410628rem  +  0.7729468599vw , 1.875rem )) {
    .block-left-2 p {
      font-size: clamp( 0.875rem , 0.720410628rem  +  0.7729468599vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.720410628rem  +  0.7729468599vw , 1.875rem )) {
    .block-left-2 p {
      font-size: calc(0.875rem + 1 * (100vw - 20rem) / 129.375);
    }
}

@supports (font-size: clamp( 0.875rem , 0.5754830918rem  +  1.4975845411vw , 2.8125rem )) {
    .block-right-2 p {
      font-size: clamp( 0.875rem , 0.5754830918rem  +  1.4975845411vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.5754830918rem  +  1.4975845411vw , 2.8125rem )) {
    .block-right-2 p {
      font-size: calc(0.875rem + 1.9375 * (100vw - 20rem) / 129.375);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 147.5em) {
@supports (top: clamp( -40.625rem , 34.8490427772rem  +  -51.1688425608vw , 3.125rem )) {
    .block-left {
      top: clamp( -40.625rem , 34.8490427772rem  +  -51.1688425608vw , 3.125rem );
    }
}

@supports not (top: clamp( -40.625rem , 34.8490427772rem  +  -51.1688425608vw , 3.125rem )) {
    .block-left {
      top: calc(3.125rem + -43.75 * (100vw - 61.99875rem) / 85.50125);
    }
}
}

@media (any-hover: hover) {
  .phone-column-left__phone:hover {
    color: #fff;
  }

  .viber-column-left__link:hover {
    color: #fff;
  }

  .mail-column-left__mail:hover {
    color: #fff;
  }

  .insta-column-left__link:hover {
    color: #fff;
  }

  .youtube-column-left__link:hover {
    color: #fff;
  }

  .job-booklet-right__link:hover {
    color: #fff;
  }

  .services-booklet-right__link:hover {
    color: #003D60;
  }
}